.ui-datepicker {
    width: 300px;
    height: 300px;
    margin: 5px auto 0;
    font: 12pt Arial, sans-serif;
  
  }
  
    .ui-datepicker table {
        width: 100%;
        box-shadow: 0 0 10 solid black;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
        border: 1px solid black;
        background-color: beige;
    }
  
  .ui-datepicker-header {
    background: #3399ff;
    color: #ffffff;
    font-family:'Times New Roman';
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #111;
    border: 1px solid black;

  }
  
  .ui-datepicker-title {
    text-align: center;
    font-size: 15px;
    border: 1px solid black;

  
  }
  
  .ui-datepicker-prev {
    float: left;
    margin-left: 5px;
    cursor: pointer;
    background-position: center -30px;
    
  }
  
  .ui-datepicker-next {
    float: right;
    margin-right: 5px;
    cursor: pointer;
    background-position: center 0px;
    
  }
  
  .ui-datepicker thead {
    background-color: #f7f7f7;
  
    border-bottom: 1px solid #bbb;
  }
  
  .ui-datepicker th {
    background-color:#808080;
    text-transform: uppercase;
    font-size: 8pt;

    text-shadow: 1px 0px 0px #fff;
    
    
  }
  